@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body, html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
}
main {
    display: flex;
    border: solid #fff;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30); 
    background: linear-gradient(to right, #243B55, #141E30); 

}
.header{
    display: flex;
    width: 300px;
    margin-top: 8px;
    
}
.logo {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: flex-start;
    margin-right: 0;
}
.header p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #fff;
    margin-top: 3px;
}
.front-img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
}
.description {
    width: 300px;
}
.description i {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #bdc3c7;
}
h2{
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    color: #bdc3c7;
}
.duraction-music {
    width: 300px;
    margin-top: 25px;
}
.duraction-music p {
    color: #bdc3c7;
    font-size: 10px;
}
.line {
    width: 300px;
    height: 6px;
    border: 1px solid #FFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
progress {
    height: 6px;
    width: 0;
    background-color:none;
}
.point{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: -10px;
}
.time {
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.player {
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button-play, .button-pause {
    font-size: 60px;
    cursor: pointer;
    color: #fff;
}
.button-back, .button-next {
    font-size: 60px;
    cursor: pointer;
    color: #fff;
}
.button-pause {
    display: none;
}