@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}
.header{
    display: flex;
    width: 300px;
    margin-top: 8px;
    
}
.logo {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: flex-start;
    margin-right: 0;
}
.header p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #f37227;
    margin-top: 3px;
}
h1 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 30px;
}

.title p {
    color: #fff;
    text-align: center;
}
main {
    width: 320px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30); 
    background: linear-gradient(to right, #243B55, #141E30); 
}

.dropdown-menu ul {
    list-style: none;
    font-size: 1rem;
}
.dropdown-menu{
  position: relative;
  display: inline-block;
  height: 45px;
  width: 200px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  line-height: 45px;
  text-align:center;
  cursor: pointer;
  background-color: #ff4dd2;
  margin-top: 30px;
}
.dropdown{
  position: absolute;
  width: 200px;
}

.dropdown li{
  display: none;
  opacity: 0;
  background-color: #fff;
  transition: color .3s;
  
}

.dropdown li:hover{
  background:#ff80df;
}

.dropdown-menu:hover .dropdown li{
  display: block;
  animation: menu1 .5s forwards;
}
.dropdown-menu .dropdown li:nth-last-child(1){
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}
.dropdown-menu:hover .dropdown li:nth-child(2){
  animation-delay: .2s
}

.dropdown-menu:hover .dropdown li:nth-child(3){
  animation-delay: .4s
}

.dropdown-menu:hover .dropdown li:nth-child(4){
  animation-delay: .6s
}

.dropdown-menu:hover .dropdown li:nth-child(5){
  animation-delay: .8s;
}
.dropdown-menu:hover .dropdown li{
  animation: animation .5s forwards;
}

@keyframes animation{
  from{
    opacity: 0;
    transform: translate(50px);
  }
  to{
    opacity: 1;
    transform: translate(0);
  }
}


